<h1 id="recherche">Antananarivo</h1>
<form class="pure-form">
	<label for="select_quartier_depart">D&eacute;part</label>
	<select name="select_quartier_depart" id="select_quartier_depart">
		<option ng-repeat="item in quartiersAntananarivo" value="{{item.id}}">{{item.nom}}</option>
	</select>


	<label for="select_quartier_arrivee">Arriv&eacute;e</label>
	<select name="select_quartier_arrivee" id="select_quartier_arrivee">
		<option ng-repeat="item in quartiersAntananarivo" value="{{item.id}}">{{item.nom}}</option>
	</select>
	
	<br><br>

	<button class="pure-button" id="bouton_chercher">Chercher</button>
</form>

<br>

<div class="trajetdiv">
	<ul id="ultrajet"></ul>
</div>

<div id="info_bus"></div>
<p id="erreur"></p>

<script src="scripts/antananarivo.js" ></script>
<script src="scripts/main.js" ></script>
